<h1>Seja Bem-Vindo!!</h1>
<p>
    Esdras Oliveira
</p>

<ul>
    <li>
        <a href="/coins">Cadastro de Moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>